* {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-flow: row column wrap;
    gap: 17.5%;
}
.sidenav {
    height: 100%;
    width: 268px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid #D0D0D0;
  }
.sidenav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40%;
    margin: auto;
    padding: 0px 0px 0px 18px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}
.sidenav a:hover {
    color: blue;
}
.sidenav img {
    width: 50%;
    padding: 0 0 0 70px;
}
.sidenav span img {
    width: 5%;
    margin-top: 10%;
    margin-bottom: -7.5%;
}
.sidenav.open {
    height: 100vh;
}
h1,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 22%;
    font-size: 20px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: 5% auto;
    padding: 0px 0px 0px 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}
input[type="search"]::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: gray;
    text-align: center;
}
#authForm {
    padding: 0px 0px 0px 70px;
    margin-top: 5%;
}
#signOutButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
}
.flex-container1 {
    width: 100%;
}
.header {
    height: 70px;
    border: 1px solid #D0D0D0;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle_btn1 {
    display: none;
    color: #543EE0;
}
.toggle {
    display: none;
    color: #543EE0;
    font-size: 20px;
    margin-left: 85%;
    margin-top: -2%;
    margin-bottom: 4%;
}
.header input {
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    width: 40%;
    height: 50px;
    margin-left: 20%;
}

.img {
    width: 10%;
    margin-left: 200px;
}
.img1 {
    width: 30%;
    margin-left: 10%;
}
.feed {
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    height: 630px;
    width: 95%;
    margin-left: 2%;
}
.feed-details {
    width: 80%;
    margin: auto;
}
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    margin-top: 2%;
}
.feed-details input {
    width: 100%;
    height: 100px;
    border: 2px solid #D0D0D0;
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type=text]:focus {
    outline: none;
}
.feed-details button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700; 
    width: 15%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color:  #543EE0; 
    color: white;
    cursor: pointer;
    margin-bottom: 22px;
}
.feed-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    height: 40px;
}
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}
.feed-content {
    width: 80%;
    margin: auto;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    height: 310px;
}

@media(max-width: 480px){
.flex-container {
    width: auto;
    gap: 0;
}
.sidenav {
    display: none;
    background-color: white;
}
.sidenav.open {
    display: block;
}
.sidenav.close {
    display: none;
}
.sidenav a {
    font-size: 15px;
    margin-top: -6%;
}
.sidenav span img {
    margin-top: -40px;
    margin-bottom: -1.5%;
}
.sidenav img {
    padding: 0 0 0 60px;
}
#signOutButton {
    padding: 0px 0px 0px 18px;
}
.header {
    width: 100%;
}
.toggle_btn1 {
    display: block;
    margin-left: 5%;
    font-size: 20px;
}
.toggle {
    display: block;
}
.header input {
    margin-left: 5%;
    width: 100%;
    height: 40px;
}
.img {
    width: 70%;
    margin-left: 10px;
}
.img1 {
    width: 60%;
}
.feed {
    left: 0;
    margin: auto;
}
.feed-details button {
    width: 50%;
}
}