* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.logo {
    width: 15%;
}
li {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}
header {
    position: relative;
    padding: 0 2rem;
    margin-top: 1%;
}
.navbar {
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px auto;
}
.navbar .links {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    margin-left: 80px;
}
.navbar .toggle_btn {
    color: #543EE0;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.btn {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.action_btn {
    background-color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #543EE0;  ;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    width: 140px;
    text-align: center;
    cursor: pointer;
}
.action_btn:hover {
    border: 1px solid #5738f3;
    background-color: #f6f5fb;
}
.action_btn1 {
    background-color: #543EE0; ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 8px;
    padding: 13px;
    width: 140px;
    text-align: center;
    cursor: pointer;
}
.action_btn1:hover {
    opacity: 0.9;
}
.dropdown_menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 360px;
    background: white;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 100vh;
}
.dropdown_menu li {
    font-size: 20px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a {
    color: black;
}
.dropdown_menu .action_btn, .dropdown_menu .action_btn1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.container {
    background-image: url(images/unsplash_-2vD8lIhdnw.png);
    background-size: cover;
    width: 100%;
    height: 764px;
}
.container1 {
    background: rgba(0, 0, 0, 0.55); 
    height: 764px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 60%;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: white;
}
.cont p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.cont button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 140px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color:  #543EE0; 
    color: white;
    padding: 13px;
    cursor: pointer;
}
.cont button:hover {
    opacity: 0.9;
}
.container2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.cont-1 {
    display: flex;
    width: 87%;
    gap: 9%;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5%;
}
.cont-1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.about {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.about-cont {
    width: 70%;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}
.cont2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.container3 {
    display: flex;
    justify-content: center;
}
.cont3 {
    display: flex;
    width: 70%;
    gap: 26px;
    margin-top: 3%;
}
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}
.cont3 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px
}
.analytics {
    width: 300px;
    height: 314px;
    padding: 15px 18px; 
    border: 1px solid #D0D0D0;
    border-radius: 8px;
}
.interactions {
    width: 321px;
    height: 314px;
    padding: 15px 18px; 
    border: 1px solid #D0D0D0;
    border-radius: 8px;
}
.content {
    width: 321px;
    height: 314px;
    padding: 15px 18px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
}
article {
    width: 100%;
    background-color: rgba(255, 237, 204, 0.50); 
    margin-top: 5%;
    height: 492px;
}
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 492px;
}
.cont4 {
    display: flex;
    gap: 53px;
    width: 90%;
}
.profile img {
    border-radius: 50%;
}
.profile-info {
    margin-top: 2%;
}
.profile-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.profile-info button {
    width: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color:  #543EE0; 
    color: white;
    padding: 13px;
    margin-top: 4%;
    cursor: pointer;
}
.profile-info button:hover {
    opacity: 0.9;
}
section {
    margin-top: 5%;
    height: 492px;
}
.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 492px;
}
.cont5 {
    display: flex;
    width: 80%;
    height: 412px;
    gap: 63px;
}
.team img {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
}
.teams img {
    display: flex;
    margin-bottom: 50%;
    margin-top: 50%;
}
h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}
.team-info {
    margin-left: 8%;
}
.team-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 90%;
}
.team-info button {
    width: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color:  #543EE0; 
    color: white;
    padding: 13px;
    margin-top: 4%;
    cursor: pointer;
}
.team-info button:hover {
    opacity: 0.9;
}
footer {
    margin-top: 4%;
    background-color: rgba(255, 237, 204, 0.50);
    height: 360px;
    bottom: 0;
}
.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 302px;
}
.cont6{
    width: 90%;
}
.social {
    display: flex;
    gap: 200px;
}
.social img {
    width: 214px;
    height: 42px;
    margin-top: 3%;
}
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: 36px;
}
.social p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
}


@media(max-width: 992px){
    .navbar .links, 
    .navbar .action_btn, .navbar .action_btn1 {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
        margin-left: 80%;
    }
   
    .dropdown_menu {
        display: block;
    }
    .dropdown_menu .action_btn, .dropdown_menu .action_btn1 {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@media(max-width: 480px){
    header {
        padding: 0%;
    }
    .logo {
        width: 150px;
        height: 32px;
    }
    .navbar .toggle_btn{
        margin-left: 50%;
    }
    .dropdown_menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 260px;
    }
    .dropdown_menu.open {
        height: 100vh;
    }
    .dropdown_menu li .action_btn {
        color: black;
    }
    .container {
        width: 100%;
        height: 564px;
    }
    .container1 {
        justify-content: center;
        height: 564px;
    }
    .cont {
        width: 90%;  
    }
    h1 {
        font-size: 25px;
        line-height: 36px;
    }
    .cont p {
        font-size: 13px;
        line-height: 22px;
    }
    .container2 { 
        justify-content: flex-start;
        margin-top: 15%;
    }
    .cont-1 {
        flex-direction: column;
        
        gap: 20px;
        width: 100%;
    }
    .cont1 {
        width: 95%;
        margin: auto;
    }
    .cont1 p {
        width: 90%;
        margin: auto;
    }
    .cont1-img {
        width: 90%;
        margin: auto;
    }
    .cont1-img img{
        width: 100%;
    }
    h2 {
        font-size: 35px;
        text-align: center;
    }
    .about {
        margin-top: 15%;
    }
    .about-cont {
        width: 100%;
        text-align: center;
    }
    .cont2 {
        width: 100%;
        margin-bottom: 5%;
    }
    .cont2 p {
        text-align: start;
        width: 90%;
        margin: auto;
    }
    h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .container3 {
        justify-content: center;
    }
    .cont3 {
        flex-direction: column;
    }
    .cont3 .analytics, .cont3 .interactions, .cont3 .content{
        width: 100%;
    }
    article {
        height: 524px;
    }
    .container4 {
        margin-top: 15%;
    }
    .cont4 {
        flex-direction: column;
        gap: 20px;
    }
    .profile img {
        width: 130px;
        margin-top: 3%;
    }
    .profile-info {
        margin: 0;
    }
    .profile-info p {
        line-height: 22px;
    }
    .cont5  {
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: auto;
    }
    .cont5 .team{
        display: flex;
        gap: 40px;
        margin: auto;
    } 
    .cont5 .teams {
        margin: auto;
    }
    .cont5 img {
        width: 130px;
        margin: 0;
    }
    .team-info {
        width: 90%;
    }
    h5 {
        font-size: 25px;
        line-height: 42px;
    }
    .profile-info button, .team-info button {
        margin-top: 15%;
    }
    footer {
        margin-top: 60%;
        height: 660px;
    }
    .social {
        flex-direction: column;
        gap: 20px;
    }
    .social img {
        margin-top: 100%;
    }
}